/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  position: relative;
}

#geoadmin-root {
  width: 100%;
  height: calc(100% - 4px);
  border: 0;
}

.search-input {
  position: absolute;
  left: 20px;
  top: 55px;
  width: 40%;
  background: white;
}

gn-results-list {
  position: absolute;
  left: 20px;
  top: 125px;
  bottom: 20px;
  width: 40%;
  padding: 8px;
  background: white;
  overflow: auto;
}

gn-record-view {
  position: absolute;
  right: 20px;
  top: 125px;
  bottom: 20px;
  width: 40%;
  padding: 8px;
  background: white;
  overflow: auto;
}
